{% extends "base.html" %}

{% block title %}
    Management apache
{% endblock %}

{%  block content_title %}
    Application management apache
{% endblock %}

{% block content %}
    Service_name = {{ title }}
    <div>
        {% if service_state %}
            <span class="badge badge-success">Сервис работает</span>
        {% else %}
            <span class="badge badge-danger">Сервис остановлен</span>
        {% endif %}

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Включить сервис</label>
        </div>

        <button type="button" class="btn btn-secondary btn-sm">Start</button>
        <button type="button" class="btn btn-secondary btn-sm">Stop</button>
        <button type="button" class="btn btn-secondary btn-sm">Restart</button>

    </div>


{% endblock %}